body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16 px;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;

}

video {
    display: block;
    margin: 0 auto;
}

h2 {
    font-weight: 300;
    color: white;
    font-size: 42px;
    text-align: center;
}

P {
    color: gray;
    font-size: 21px;
    
}

img {
    display: block;
    margin: 0 auto;

}

section {
    text-align: center;
}


footer {
    text-align: right;
}